body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(45deg, #d7cf70, #35606c, #7c357b, #30c7d5);
    background-size: 300% 300%;
    animation: color var(--animation-duration, 12s) ease-in-out infinite;
}
@keyframes color {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    
}
h2{
    text-align: center;
    font-size: 3em;
}
canvas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-radius: 10px;
    background: linear-gradient(0deg, #b4038b, #172149);
    align-items: center;
}

.header{
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
    align-items: center;

}
button{
    font-size: 1em;
    padding: 5px;
    margin: 1px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border: 3px solid black;
    display: block;
    margin-left: 50%;
    margin-right: 50%;
    width: 100px;
    text-align: center;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}


.songs {
    display: grid;
    grid-template-columns: repeat(15, auto); /* 3 sütun oluşturur */
    grid-gap:1px; /* İstenirse aralara boşluk ekleyebilirsiniz */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    max-width: 500px;
}

.songs button {
    font-size: 1em;
    padding: 5px;
    margin: 1px;
    border-radius: 10px;
    background: linear-gradient(135deg, #bceb11e8, #c907ff);
    cursor: pointer;
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;

}

button:hover{
    background-color: lightgrey;
}

.game-info{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, auto);
    font-size: 2em;
    max-width: 1000px;
}

.game-info span{
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-size: 1em;
    border-radius: 10px;
}

input{
    margin-left: 80%;
    margin-right: auto;
    font-size: 1em;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.buttons{
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    max-width: 500px;
}